@{
    Layout = "_LayoutVotacion";
}
<h2>✅ Voto registrado correctamente</h2>

<p>Gracias por participar</p>

<script>
    setTimeout(() => {
        window.location.href = '/Votacion';
    }, 3000);
</script>