@model VotanteViewModel

<h2>Crear Votante</h2>

<form asp-action="Create" method="post">

    <input asp-for="Grado" placeholder="Grado" class="form-control mb-2" />
    <input asp-for="Paralelo" placeholder="Paralelo" class="form-control mb-2" />
    <input asp-for="Paterno" placeholder="Apellido Paterno" class="form-control mb-2" />
    <input asp-for="Materno" placeholder="Apellido Materno" class="form-control mb-2" />
    <input asp-for="Nombre" placeholder="Nombre" class="form-control mb-2" />

    <button class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>